<app-page-layout title="Health Care IOT System">
  <div class="dashboard">
    <div class="vitals-container">
      <app-vitals-summary [sensorData]="sensorData"></app-vitals-summary>
    </div>

    <div class="dashboard-content">
      <div class="metrics-section">
        <app-combined-chart 
            [data]="sensorData"
            [last24hData]="last24hData">
        </app-combined-chart>
      </div>

      <div class="control-section">
        <app-smart-lighting-controll></app-smart-lighting-controll>
      </div>
    </div>
  </div>
</app-page-layout>